.content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.card {
    width: 400px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.input {
    margin-bottom: 12px;
}
.alert {
    margin-bottom: 12px;
}

.primary-button {
    margin-bottom: 12px;
}